# Lab Assignment 1

## Variable

Create a variable and assign your roll number to it

In [41]:
sar="240631"

Create a variable contain special character(@#$%^&) and assign your unique number to it, if it gives error then change it

In [40]:
_sar="240C2030269"

Add both variable and show result

In [42]:
x=sar+_sar

print(x)

240631240C2030269

Print the type of variable you declared

In [36]:
print(type(x))

<class 'str'>

Assign your name to the first variable

In [19]:
a="saraansh"

Assign your mothers name to the second variable

In [20]:
b="aarti"

Now again Add both variable using + sign and show result

In [21]:
x=a+b
print(x)

saraanshaarti

Take your birth date(1-31) and birth month as two variable and show its addition, substraction, multiplication, division and mod opertator

In [38]:
date=25
month=11
print(date+month)
print(date-month)
print(date*month)
print(date/month)
print(date%month)

36
14
275
2.272727272727273
3

Take two boolean variable(True,False) in your name and other boolean variable as your favourite person and show the "and" "or" and "not" operation on these variable

## List

Create a list of all digits of your roll number

In [39]:
l=[2,4,0,6,3,1]

Append the last two digits of unique id in this list

In [16]:
l.append("240C2030269)

Insert your name's first letter on 3rd undex of this list

In [17]:
l[2]='r'

Print number using range function, the numbers shound be birth date(0-31) and added 10, ex if your birtdate is 13th feb then till 23 you have to print

In [43]:
print(range(35))

range(0, 35)

Create a list using above range function and print it

In [44]:
k=list(range(35))
print(k)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

Print this list in reverse order

In [45]:
print(k[::-1])

[34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Print every third index of this list from starting till end

In [46]:
print(k[::3])

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

Print the list from fifth index till end using colon

In [47]:
print(k[5::])

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

Print the list from 2nd to 11th index using colon

In [48]:
print(k[2:11:])

[2, 3, 4, 5, 6, 7, 8, 9, 10]

Create a list that has your roll number, unquite id , date or birth, name, parents name, your favrite fruit, cusine, and your city name

In [53]:
w=[240631, "240C2030269","Saraansh", "Sunit","Aarti","Apple","Italian","Faridabaad"]

Print the first four letters of your parents name from the above list

In [55]:
print(w[3:5])

['Sunit', 'Aarti']

## Tuple

Create a tuple inserting integers of your roll number

In [33]:
t=(2,4,0,6,3,1)

Insert 20 in this tuple

In [34]:
t.append(20)
#tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

Replace third index of this tuple with number 100

In [51]:
t[3]=100
#tuples are immutable

NameError: name 't' is not defined

Write the comment in next tab that errors you got while editting and tupe and reason behind them.

In [ ]:
"""AttributeError                            Traceback (most recent call last)
Cell In[34], line 1
----> 1 t.append(20)

AttributeError: 'tuple' object has no attribute 'append'"""
"""NameError                                 Traceback (most recent call last)
Cell In[51], line 1
----> 1 t[3]=100
      2 #tuples are immutable

NameError: name 't' is not defined"""

## Dictionaries

Create a dictionary and write down roll number, unquite id , date or birth, name, parents name, your favrite fruit, cusine, and your city name as keys and the corresponding answers as values, creating key value pairs.

In [64]:
my_dict={
        'roll_number':240631,
        'unique_id':"240C2030269",
        'dob':15,
        'name':"saraansh",
        'father_name':"sunit",
        'mother_name':"aarti",
        'fa_fruit':"apple",
        'cuisine':"Italian",
        'city_name':"Faridabad"}
print(my_dict)

{'roll_number': 240631, 'unique_id': '240C2030269', 'dob': 15, 'name': 'saraansh', 'father_name': 'sunit', 'mother_name': 'aarti', 'fa_fruit': 'apple', 'cuisine': 'Italian', 'city_name': 'Faridabad'}

Print your city name

In [66]:
print(my_dict['city_name'])

Faridabad

Replace this city name with your dream destination city

In [67]:
update_dict={'city_name':"mumbai"}
my_dict.update(update_dict)
print(my_dict)

{'roll_number': 240631, 'unique_id': '240C2030269', 'dob': 15, 'name': 'saraansh', 'father_name': 'sunit', 'mother_name': 'aarti', 'fa_fruit': 'apple', 'cuisine': 'Italian', 'city_name': 'mumbai'}

Insert a new key value pair in this dictionary as Unversity: BMU as key:value pair

In [69]:
my_dict["University"] = "BMU"
print(my_dict)

{'roll_number': 240631, 'unique_id': '240C2030269', 'dob': 15, 'name': 'saraansh', 'father_name': 'sunit', 'mother_name': 'aarti', 'fa_fruit': 'apple', 'cuisine': 'Italian', 'city_name': 'mumbai', 'University': 'BMU'}

Delete your Unique id from this dictionary

In [70]:
my_dict.pop("unique_id")
print(my_dict)

{'roll_number': 240631, 'dob': 15, 'name': 'saraansh', 'father_name': 'sunit', 'mother_name': 'aarti', 'fa_fruit': 'apple', 'cuisine': 'Italian', 'city_name': 'mumbai', 'University': 'BMU'}