## Convert a List to a Tuple and Then to a Set

In [3]:
list1=[1,2,3,4,5]
a=tuple(list1)
b=set(list1)
print(a)
print(b)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

## Find Common Elements Between List and Tuple Using a Set

In [10]:
a=[1,2,3,4,5,6,7,8,9]
b=[2,3,4,5]
c=set(a) & set(b)
print(c)

{2, 3, 4, 5}

## Remove Duplicates from a List Using a Set and Convert Back to a List

In [13]:
a=[1,2,3,4,5,6,6,7,8,8,9]
a=list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Find Elements in a Tuple That Are Not in a List Using a Set

In [16]:
tup=(1,2,3,4,5,6,7,8,9)
lis=[1,4,7,9]
a=set(tup)
b=set(lis)
print(a-b)

{2, 3, 5, 6, 8}

## Convert a String to a List, Then a Tuple, and Finally a Set

In [21]:
st="parikshit"
a=list(st)
b=tuple(st)
c=set(st)
print(type(a))

<class 'list'>

## Merge Two Lists, convert to a Set to Remove Duplicates, and Convert Back to a List

In [24]:
list1=[1,2,3,4,5,6,7]
list2=[1,2,3,8,9,10,11]
list3=list1+list2
a=set(list3)
list3=list(a)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Create a List of Tuples from Two Lists

In [27]:
list1=[1,2,3,4,5,6]
list2=[2,3,4,5,6,7,8,9]
list3=[tuple(list1)+tuple(list2)]

## Extract Unique Words from a Sentence Using Sets and Store in a List

In [32]:
string1="parikshit"
a=set(string1)
b=list(a)
print(b)

['a', 't', 'p', 'i', 'r', 'k', 'h', 's']

## Find the Union and Intersection of Two Lists Using Sets

In [1]:
list1=[1,2,3,4,5]
list2=[1,2,3,4,5,6,7,8,9]
a=set(list1)
b=set(list2)
print("union:",a|b)
print("intersection",a&b)

union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection {1, 2, 3, 4, 5}

## Sort a List, convert to a Tuple, and Find Unique Elements Using a Set

In [41]:
list1=[2,5,1,8,4,7]
b=tuple(sorted(list1))
print(b)
c=set(b)
print(c)

(1, 2, 4, 5, 7, 8)
{1, 2, 4, 5, 7, 8}

## Sort a List of Tuples Based on the Second Element and Remove Duplicates

In [2]:
def sort_and_deduplicate(lst):
    sorted_list = sorted(lst, key=lambda x: x[1])
    
    return list(dict.fromkeys(sorted_list))

original_list = [(1, 3), (2, 2), (3, 3), (2, 2), (4, 1)]
processed_list = sort_and_deduplicate(original_list)
print(processed_list)

[(4, 1), (2, 2), (1, 3), (3, 3)]

## Merge Two Lists, Keep Unique Elements, and Convert to a Tuple

In [47]:
a=[1,2,3,4,5,6]
b=[5,6,7,8,9]
c=a+b
d=set(c)
print(tuple(d))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

## Extract Unique Characters from a String and Store Them in a Set

In [50]:
string1="parikshit"
a=set(string1)
print(a)

{'a', 't', 'p', 'i', 'r', 'k', 'h', 's'}

## Count Vowels and Consonants in a String

2

## Find the Longest Word in a Tuple of Words

In [68]:
tup=("hi" ,"how","are","you")
a=""
for i in tup:
    for j in tup:
        if len(i)>len(j):
            a=i
print(a)

you

## ## Find Common Characters in Two Strings

In [73]:
a="apple"
b="banana"
set1=set(a)
set2=set(b)
c=set1&set2
print(c)

{'a'}

## Find the Frequency of Each Word in a Tuple of Sentences

In [ ]:
a=("hi","hello","pari","pari")

## Check if a Tuple Contains a Specific Word

In [85]:
t=("hello","kya","haal","chaal")
element="hello"
if element in t:
    print("yes")
else:
    print("no")

yes

## Find Elements in One Set but Not in Another

In [91]:
set1={1,2,3,4,5,6,7}
set2={6,4,1,2,3}
print(set1-set2)

{5, 7}

## Reverse a Tuple Using a For Loop

In [100]:
tup1=(1,2,3,4,5)
a=[]
for i in range(-1,-6,-1):
    a.append(tup1[i])
tup2=tuple(a)
print(tup2)

(5, 4, 3, 2, 1)